src/main/mule/VMWorkFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="VMWorkFlowFlow" doc:id="3b017307-5745-4142-b81e-b5d709e0d105" >
		<vm:listener doc:name="Listener" doc:id="4d7d7d67-0d75-4018-90ec-fe9814b764cf" config-ref="VM_Config" queueName="test.one"/>
		<logger level="INFO" doc:name="Logger" doc:id="026c9917-4082-4536-a559-83039e648065" message="#[payload]"/>
	</flow>
	<flow name="VMWorkFlowFlow1" doc:id="139b179e-7387-48be-a043-eaa2908caaf1" >
		<http:listener doc:name="Listener" doc:id="53e9b20f-d356-465f-8679-0971de3246be" config-ref="HTTP_Listener_config" path="/TestConsume"/>
		<vm:consume doc:name="Consume" doc:id="4647d616-2570-4b7f-956b-780d48bb83b2" config-ref="VM_Config" queueName="test.three"/>
		<logger level="INFO" doc:name="Logger" doc:id="38e71128-e2a9-4f6b-8912-d82271ab2d18" message="#[payload]"/>
	</flow>
</mule>
